body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
a{
    font-weight: bold;
    font-size: 32px;
}

a:hover{
    color: #7798ba;
    background-color: #002347;
}

a:active{
    color:#960c31;
    background-color: #e6b3c1;
    text-decoration: none;
}

a.vrsta1:link{
    color: black;
}

a.vrsta1:visited{
    color: #9bcbcc;
}

a.vrsta1:hover{
    text-decoration: #1d797a wavy underline;
}

a.vrsta1{
    background-color: #020d69;
    color: black;
}

a.vrsta2{
    text-decoration: underline;
}

a.vrsta2:link{
    color: black;
}

a.vrsta2:visited{
    color:#6397bf;
}

a.vrsta2:hover{
    background-color: #164569;
    color: white;
    text-decoration: underline dotted;
}

a.vrsta2:active{
    background-color: #595c75;
    color: white;
}
*/
.tablica1{
    border: 3px solid #3f488f;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 32px;
}

td{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 20px 25px;
    border: 2px solid #3f488f;
}

a{
    color: #b32745;
    text-decoration: none;
}

.cel{
    background-color: #2b2185;
}

.cel:hover{
    background-color: #43878a;
    cursor: pointer;
}

a:visited{
    color: #e0bfaf;
}

a:active{
    color:#218569;
}

.cel2{
    background-color: #2b2185;
}

.cel2:hover{
    background-color: #e0242d;
}